<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <script type="text/javascript">
        let entry_js = "<%= entry_js %>";
    </script>
</head>
<body>
</body>
</html>